<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layout/head.ejs') %>
    <title>Favorites Page</title>
</head>
<body>
<%- include('../layout/header.ejs') %>
<% allTheFavorites.forEach(fav => {  %>
<section class = "fav-page">
    <div class="fav-main">
        <div class="fav-image">
            <img src="<%= fav.comic_url %>">
        </div>
        <div class="fav-text">
            <p class="fav-title"><%= fav.title %></p>
            <p class="fav-description"><%= fav.description %></p>
            <p class="fav-notes"><%= fav.notes %></p>
        </div>
        <div class="fav-actions">
            <form action="/edit/<%= fav.id %>" method="get">
                <button type="submit">Edit</button>
            </form>
            <form action="/delete/<%=fav.id%>?_method=DELETE" method="post">
                <button type="submit">Delete</button>
            </form>
        </div>
    </div>
    <div class="fav-cat">
        <img src="<%= fav.cat_url %>">
    </div>

</section>
<% }) %>    
</body>
</html>